<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>屏幕适配.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1906AFC21CC62810009C549F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1906AFDB1CC62810009C549F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1906AFE61CC62810009C549F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
