<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1385536285032.png</string>
				<key>name</key>
				<string>疾风剑豪 - 亚索</string>
				<key>intro</key>
				<string>&apos;我的逃亡之旅到底还需要持续多久？即使是最强之风，终有一天也会在瓦罗兰大陆中逝去&apos;</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1381398467886.png</string>
				<key>intro</key>
				<string>金克丝活着就是为了不计后果的四处肆虐，在她身后留下的只有一片混乱与恐慌。她是一名暴躁而残忍的罪犯，她蔑视一切仅仅是因为无聊，她会在她认为最无趣的地方：皮尔特沃夫。</string>
				<key>name</key>
				<string>暴走萝莉·金克丝</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1376619482925.png</string>
				<key>intro</key>
				<string>卢锡安使用的是拥有传承力量的神圣武器，并成为对付不死族群的卫士。他冷静而强大，面对无尽的恐怖时仍然可以惩罚对手通过其拥有的驱除之火。</string>
				<key>name</key>
				<string>圣枪游侠·卢锡安</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1371093644361.png</string>
				<key>intro</key>
				<string>&apos;战者，或为荣耀，或为赞颂。然此皆仅为战所存也。&apos;——亚托克斯</string>
				<key>name</key>
				<string>暗裔剑魔·亚托克斯</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>231871561051.png</string>
				<key>intro</key>
				<string>闭上眼睛，让寒冷将你夺去。&apos;——丽桑卓</string>
				<key>name</key>
				<string>冰霜女巫·丽桑卓</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>225382419902.png</string>
				<key>intro</key>
				<string>大多数士兵会依赖他们的武器。只有少数人才会真正地相互依赖。——奎因</string>
				<key>name</key>
				<string>德玛西亚之翼·奎因</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>228242993255.png</string>
				<key>intro</key>
				<string>&apos;即使你没有脊柱，你依然必须站起来。&apos;—扎克</string>
				<key>name</key>
				<string>生化魔人·扎克</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>231871561051.png</string>
				<key>intro</key>
				<string>闭上眼睛，让寒冷将你夺去。&apos;——丽桑卓</string>
				<key>name</key>
				<string>冰霜女巫·丽桑卓</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>216813987373.png</string>
				<key>intro</key>
				<string>&apos;均衡只是一个骗局，我们才是真正的忍者！&apos;影流之主-劫</string>
				<key>name</key>
				<string>影流之主·劫</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>201804651313.png</string>
				<key>intro</key>
				<string>团结一致的诺克萨斯能够掌控整个世界！而且理应如此！</string>
				<key>name</key>
				<string>诺克萨斯之手·德莱厄斯</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>197908560081.png</string>
				<key>intro</key>
				<string>这位高大魁梧、披坚执锐的幽魂就已将恐惧深深地植入到了那些见过他的人们的心中。</string>
				<key>name</key>
				<string>战争之影·赫卡里姆</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1371636483394.png</string>
				<key>intro</key>
				<string>一个睿智的萨满发现他可以将整个部落的诅咒通过魔法转移到某一个巨魔战士身上，然而部落里一直没有这样的战士出现...直至特朗德尔出生。</string>
				<key>name</key>
				<string>巨魔之王·特朗德尔</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>195755907116.png</string>
				<key>intro</key>
				<string>&apos;想和我共舞一曲死亡的华尔兹么？&apos;-菲奥娜</string>
				<key>name</key>
				<string>无双剑姬·菲奥娜</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>上单</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>209057893970.png</string>
				<key>intro</key>
				<string>&apos;单手宰羊，不如双手屠狼。&apos;——雷恩加尔。</string>
				<key>name</key>
				<string>傲之追猎者·雷恩加尔</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>190833295927.png</string>
				<key>intro</key>
				<string>当瑟庄妮出生的时候，部落的预言者就说过，她将会成为统一这个分裂部族的领袖。</string>
				<key>name</key>
				<string>凛冬之怒·瑟庄妮</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>186599920512.png</string>
				<key>intro</key>
				<string>沃利贝尔开始了他漫长而危险的登山历程。当他到达了顶峰，凝视着上面怒吼的风暴，他看见了一个可怕的景象——弗雷卓德整个被战争笼罩。</string>
				<key>name</key>
				<string>雷霆咆哮·沃利贝尔</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>219251317038.png</string>
				<key>intro</key>
				<string>&apos;真遗憾。我有两只拳头，但你的脸上只放得下一只。&apos;-蔚</string>
				<key>name</key>
				<string>皮城执法官·蔚</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>178647406694.png</string>
				<key>intro</key>
				<string>&apos;人类尚未学会控制他们的魔法——因为卡拉曼达已经变成了历史长河中的一条水晶疮疤（意指新地图水晶之痕）。&apos;</string>
				<key>name</key>
				<string>水晶先锋·斯卡纳</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>nn.png</string>
				<key>intro</key>
				<string>瓦罗然极东之地被刺骨寒冰所覆盖，在漫长的冬季里，当地居民玩一个奇怪的游戏。他们弄醒一窝冬眠的雪人，然后挨个跳到雪人背上，比赛谁能骑乘...</string>
				<key>name</key>
				<string>雪人骑士·努努</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>tdme.png</string>
				<key>intro</key>
				<string>这个世界上有那么一群选择不在瓦洛兰城邦生活的人，反之，他们选择区小村庄或者是游牧部落生活。在这些未经开拓的地方生活尽管存在一定的危险，但是同样也能享受到远离符文之地法规限制的自由...</string>
				<key>name</key>
				<string>蛮族之王·泰达米尔</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ndl.png</string>
				<key>intro</key>
				<string>超级壁垒的南部是一片被诅咒的凶险之地，因此人烟稀少，而英雄更是凤毛麟角。那里的大部分地区仍然残留着上次符文战争留下的创伤，特别是神秘的库莽古森林...</string>
				<key>name</key>
				<string>狂野女猎手·奈德丽</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>打野</string>
		<key>online</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>207847215830.png</string>
				<key>intro</key>
				<string>黛安娜投身于战斗的热浪中，挥舞着她月牙枪刃，无情地施放着她的月光能量。</string>
				<key>name</key>
				<string>皎月女神·黛安娜</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>205773517075.png</string>
				<key>intro</key>
				<string>武装着睿智与魅力，以及标志性的可变形铁锤，杰斯毕生致力于守护他的祖国，皮尔特沃夫。</string>
				<key>name</key>
				<string>未来守护者·杰斯</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>196703018435.png</string>
				<key>intro</key>
				<string>璐璐率性而为的程度，也许联盟中没有哪个英雄能够比得上。在班德尔城中度过的青春岁月中，她总是把大部分时间都花在林间漫步或者做白日梦上。</string>
				<key>name</key>
				<string>仙灵女巫·璐璐</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>192131975792.png</string>
				<key>intro</key>
				<string>吉格斯生来就有着捣鼓机械的天赋，但他自由散漫、过度亢奋的天性在约德尔科学家当中实属罕见。很早以前，吉格斯就已经制造出了一批被他亲昵地称为&apos;海克斯爆破&apos;的强力炸弹。</string>
				<key>name</key>
				<string>爆破鬼才·吉格斯</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>188475951613.png</string>
				<key>intro</key>
				<string>在年轻时，维克托就发现了他对科学与发明的激情，特别是机械自动化这一领域。他参加了祖安享有盛名的科技魔法大学，并带领了一支队伍，研发出了布里兹这一科学史上的突破。</string>
				<key>name</key>
				<string>机械先驱·维克托</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>174074057446.png</string>
				<key>intro</key>
				<string>古书里将其称为复仇焰魂。这个一个充满灼热仇恨的生物，它的存在就是为了将人类和约德尔人生存的地方夷为平地。</string>
				<key>name</key>
				<string>复仇焰魂·布兰德</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>183638769835.png</string>
				<key>intro</key>
				<string>摆脱了血肉之躯后，泽拉斯几乎能掌控无尽的能量。</string>
				<key>name</key>
				<string>远古巫灵·泽拉斯</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>173890450691.png</string>
				<key>intro</key>
				<string>拉克丝天生就属于显赫的皇冠卫队，出自德玛西亚的模范家庭她注定要成就一番伟业。</string>
				<key>name</key>
				<string>光辉女郎·拉克丝</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ktln.png</string>
				<key>intro</key>
				<string>在军国主义的诺克萨斯，女人的首要责任就是养育强壮的小孩，为参军的丈夫传宗接代，这是意料之中的事。但是有些女人却不把养育当作自己的天性，卡特琳娜便是其中之一...</string>
				<key>name</key>
				<string>不祥之刃·卡特琳娜</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>中单</string>
		<key>online</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>198079477246.png</string>
				<key>intro</key>
				<string>为了镇压一个远古的腐败深渊而建的一间寺院。这个深渊是那么地令人不安。韦鲁斯被一间神圣的艾欧尼亚寺院选作守望者。</string>
				<key>name</key>
				<string>惩戒之箭·韦鲁斯</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>xwe.png</string>
				<key>intro</key>
				<string>美丽而致命的希维尔在她的雇佣兵生涯中赢得了无数头衔，而最近她一直是&apos;诺克苏斯的战争女神&apos;。</string>
				<key>name</key>
				<string>战争女神·希维尔</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ezre.png</string>
				<key>intro</key>
				<string>伊泽瑞尔的血液中流淌着与生俱来的魔法天赋。与此同时，他热爱流浪探险。伊泽瑞尔进入学校后，有望成长为熟练的科技魔法师，但他很快就厌倦了学校的魔法学习...</string>
				<key>name</key>
				<string>探险家·伊泽瑞尔</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>cstn.png</string>
				<key>intro</key>
				<string>麦格林突击队一直是班德尔城里的一个传奇。他们拥有横跨数世纪的悠久历史，现在他们仍然还在约德尔人的军队里服役。他们以冷酷英勇而闻名于世，即使是班德尔城里面的勇士们也对他们敬畏有加...</string>
				<key>name</key>
				<string>麦林炮手·崔丝塔娜</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1371103804008.png</string>
				<key>intro</key>
				<string>对于勇敢面对符文之地严酷海洋的人，能拥有一艘属于自己的船和船员，就已是个不错的成就。备受尊敬的赏金猎人莎拉，在她16岁生日时就已经完成了这个目标...</string>
				<key>name</key>
				<string>赏金猎人·厄运小姐</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>ax.png</string>
				<key>intro</key>
				<string>弗雷尔卓德美女艾希是英雄联盟召唤师长期以来的最爱之一。作为阿瓦罗萨的直系后代，艾希是传奇三姐妹之一。她们各自宣称统治着居住在瓦洛兰大陆北部冻苔原地带的散乱部落。艾希继承了祖先精通的箭术，因此也继承了阿瓦罗萨&apos;寒冰射手&apos;的称号。</string>
				<key>name</key>
				<string>寒冰射手·艾希</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>ADC</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>207225320108.png</string>
				<key>intro</key>
				<string>靠近那些美丽的花儿，就靠近一些荆棘&apos;-婕拉</string>
				<key>name</key>
				<string>荆棘之兴·婕拉</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>222714396868.png</string>
				<key>intro</key>
				<string>魂锁典狱长的过去鲜为人知，并且大多数细节只存在于童谣和传闻中。它们讲述着一个丧心病狂的狱卒的故事。</string>
				<key>name</key>
				<string>魂锁典狱长 - 锤石</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>218041566099.png</string>
				<key>intro</key>
				<string>&apos;我即是狂澜，且无法被力挽。&apos;-唤潮鲛姬·娜美。</string>
				<key>name</key>
				<string>唤潮鲛姬·娜美</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>193333009937.png</string>
				<key>intro</key>
				<string>诺提勒斯苏醒时，他变得有些不太一样了。庞大的铁质潜水服已经变成了一个浑然一体的甲壳。</string>
				<key>name</key>
				<string>深海泰坦·诺提勒斯</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>1371200551407.png</string>
				<key>intro</key>
				<string>卡尔玛所的沉着冷静使她成为了村庄各种矛盾的调停者。她的导师总说：&apos;彼能起风，亦能止风...</string>
				<key>name</key>
				<string>天启者·卡尔玛</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>175792428160.png</string>
				<key>intro</key>
				<string>太阳的光芒笼罩着符文大陆，而其化身也势必如此。-蕾欧娜</string>
				<key>name</key>
				<string>曙光女神·蕾欧娜</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>an.png</string>
				<key>intro</key>
				<string>她的母亲是一位灰色魔女，她的父亲是一名神秘的术士，这个孩子的血液里流淌着惊人的秘法能量。她两岁时就用魔法驯服了一头森林里的凶猛暗影熊，将...</string>
				<key>name</key>
				<string>黑暗之女·安妮</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>alst.png</string>
				<key>intro</key>
				<string>作为氏族的最后幸存者，阿利斯塔在保护家园抵抗强大入侵者时被俘，成为一名奴隶，被迫推动巨大的滑轮升降矿工。在这无尽的痛苦生活里，他唯一的安...</string>
				<key>name</key>
				<string>牛头酋长·阿利斯塔</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>blc.png</string>
				<key>intro</key>
				<string>祖安是个被科技和魔法双重扭曲的城市。没有节制的实验毁坏了这座城市。不过在魔法和科技的双重作用下，这里也出现了不少奇观，比如蒸汽机器人就是...</string>
				<key>name</key>
				<string>蒸汽机器人·布里茨</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>辅助</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
